.navbar-nav{
    float: left;
}
.size{
    width: 150px;
    height: 100px;
}
.container{
    margin: 100px;
}
.half{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half img{
    width: 100%;
}
.design{
    color: rgba(255, 0, 0, 0.733);
    font-size: 30px;
}
h1{
    font-size: 50px;
    font-weight: 100px;
}
.h1design{
    color: green;
}
.linkbutton{
    text-decoration: none;
    background-image: linear-gradient(45deg,rgb(20, 221, 80),rgb(92, 255, 71));
    padding: 10px 20px;
    border-radius: 25px;
    color:white;
    font-weight: bold;
}
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
}
.img-fluid{
    max-width: 50px;
}
.cardDesign{
    border: none;
    border-radius: 10px;
    box-shadow: none;
    padding: 50px;
    float: left;
}
.cardDesign:hover{
    box-shadow: rgb(205, 236, 205);
}
.imgclass{
    max-width: 25px;
}
.testomonial{
    text-align: center;
}
.photo{
    height: 100px;
    width: 100px;
}
.profile{
    text-align: center;
    font-size: 15px;
    padding-left: 20px;
}